{% load static %}
<footer class="site-footer">
    <div class="site-footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <h2 class="text-white mb-lg-0">Lift and Light</h2>
                </div>
                <div class="col-lg-6 col-12 d-flex justify-content-lg-end align-items-center">
                    <ul class="social-icon d-flex justify-content-lg-end">
                        <li class="social-icon-item">
                        <a href="https://www.facebook.com/profile.php?id=61584016286962" class="social-icon-link">
                                <span class="bi-facebook"></span>
                            </a>
                        </li>
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link">
                                <span class="bi-linkedin"></span>
                            </a>
                        </li>
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link">
                                <span class="bi-instagram"></span>
                            </a>
                        </li>
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link">
                                <span class="bi-youtube"></span>
                            </a>
                        </li>
                        <li class="social-icon-item">
                            <a href="#" class="social-icon-link">
                                <span class="bi-telephone"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12 mb-4 pb-2">
                <h5 class="site-footer-title mb-3">Navigation</h5>
                <ul class="site-footer-links">
                    <li class="site-footer-link-item">
                        <a href="/" class="site-footer-link">Accueil</a>
                    </li>
                    <li class="site-footer-link-item">
                        <a href="/ascenceur/services.html" class="site-footer-link">Services</a>
                    </li>
                    <li class="site-footer-link-item">
                        <a href="{% url 'projets:liste_projets' %}" class="site-footer-link">Projets</a>
                    </li>
                    <li class="site-footer-link-item">
                        <a href="/ascenceur/about.html" class="site-footer-link">À propos</a>
                    </li>
                    <li class="site-footer-link-item">
                        <a href="/ascenceur/contact.html" class="site-footer-link">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 col-12 mb-4 mb-lg-0">
                <h5 class="site-footer-title mb-3">Contactez-nous</h5>
                <p class="text-white d-flex mb-1">
                    <a href="tel:6-96-92-66-78" class="site-footer-link">6-96-92-66-78</a>
                </p>
                <p class="text-white d-flex mb-1">
                    <a href="tel:6-75-97-43-02" class="site-footer-link">6-75-97-43-02</a>
                </p>
                <p class="text-white d-flex">
                    <a href="mailto:info@lift&light.com" class="site-footer-link">info@lift&light.com</a>
                </p>
            </div>

            <div class="col-lg-3 col-md-6 col-11 mb-4 mb-lg-0 mb-md-0">
                <h5 class="site-footer-title mb-3">Localisation</h5>
                <p class="text-white d-flex mt-3 mb-2">
                    Siège social devant Total Essos, Yaoundé - Service sur toute la région
                </p>
                <a class="link-fx-1 color-contrast-higher mt-3" href="#">
                    <span>Nous localiser</span>
                    <svg class="icon" viewBox="0 0 32 32" aria-hidden="true"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"><circle cx="16" cy="16" r="15.5"></circle><line x1="10" y1="18" x2="16" y2="12"></line><line x1="16" y1="12" x2="22" y2="18"></line></g></svg>
                </a>
            </div>
        </div>
    </div>

    <div class="site-footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-12 mt-5">
                    <p class="copyright-text">Copyright © 2025 Lift and Light</p>
                </div>
                <div class="col-lg-8 col-12 mt-lg-5">
                    <ul class="site-footer-links">
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Mentions Légales</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">Politique de Confidentialité</a>
                        </li>
                        <li class="site-footer-link-item">
                            <a href="#" class="site-footer-link">CGV</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>

